
.table th {
    color: #102060;
}

.table tbody tr:hover {
    background-color: #efefef;
    cursor: pointer;
}

@media (max-width: 768px) {
    .table {
        font-size: 12px;
    }
    
    .table td:first-child {
        width: 50%;
    }
}