
.block {
    background-color: white;
    border-bottom: 1px solid #102060;
    cursor: pointer;
    padding: 8px;
    width: 50%;
}

.block:hover {
    background-color: #cfd2df;
}

.block a {
    color: unset;
    text-decoration: none;
}

.block-container {
    display: flex;
    flex-direction: column;
}

.block-header {
    color: #102060;
    font-size: 56px;
    padding: 16px;
    position: absolute;
    text-decoration: none;
}

.block-header:hover {
    background-color: #cfd2df;
    border-radius: 16px;
}

.block-name {
    color: #102060;
    font-size: 24px;
    font-weight: bold;
}

.block-wrapper {
    width: 100%;
}

#experience .block-header {
    right: 5%;
}

#experience .block-wrapper:nth-child(even) .block {
    border-left: 1px solid #102060;
    float: right;
    margin: 32px 0;
}

#experience .block-wrapper:nth-child(odd) .block {
    border-right: 1px solid #102060;
}

#groups .block-header {
    left: 25%;
}

#groups .block-wrapper:nth-child(even) .block {
    border-right: 1px solid #102060;
}

#groups .block-wrapper:nth-child(odd) .block {
    border-left: 1px solid #102060;
    float: right;
    margin: 32px 0;
}

hr {
    margin: 24px 0 32px;
}

.location {
    color: #3f4c7f;
    padding: 8px;
    font-size: 24px;
    text-decoration: none;
}

.location:hover {
    background-color: #cfd2df;
    border-radius: 16px;
}

.position-name {
    color: #3f4c7f;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.resume-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.resume-header .block-header {
    position: unset;
}

.text-block {
    line-height: 2;
}

@media (max-width: 641px) {
    .block {
        border: none !important;
        padding: 0;
        width: 100%;
    }
    
    .block-header {
        font-size: 28px;
        padding: 0;
        position: unset;
        text-align: center;
    }

    .block-name {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }

    hr {
        margin: 8px 0 16px;
    }

    .location {
        padding: 4px;
        font-size: 18px;
    }
    
    .position-name {
        flex-direction: column;
        font-size: 14px;
        font-weight: normal;
    }
    
    .resume-header {
        flex-direction: column;
    }
    

    .text-block {
        line-height: 1.5;
    }
}