@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavManager
@using Newtonsoft.Json
@using System.Linq
@using System.Text.RegularExpressions

@if (_resume == null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu Resume="@_resume"/>
        </div>

        <main>
            <div class="top-row px-4">
                <div class="import">
                    <a href="data/wheeler-resume.json" download>Download Template</a>
                    <label class="btn-link">
                        <InputFile OnChange="@UpdateResume" class="d-none"/>
                        Import Your Resume
                    </label>
                    @if (_importGuid != null)
                    {
                        <a href="?id=@_importGuid" target="_blank">
                            Share Url
                        </a>
                    }
                </div>
                <a href="https://github.com/wheeleruniverse/cgc-resume-from-json" target="_blank">GitHub</a>
            </div>

            <article class="content px-4">
                <CascadingValue Value="@_resume">
                    @Body
                </CascadingValue>
            </article>

            <div class="bottom-row px-4">
                @if (_resume.Urls != null)
                {
                    <SocialFooter Urls="@_resume.GetKnownUrls()"/>
                }
            </div>
        </main>
    </div>
}

@code {
    private const string BlobApiUrl = "https://cgc-resume-from-json-api.vercel.app/api/blob";

    private Resume? _resume;
    private string? _importGuid;

    protected override async Task OnInitializedAsync()
    {
        var query = NavManager.ToAbsoluteUri(NavManager.Uri).Query;
        if (query.Contains("?id="))
        {
            var id = query.Substring(4);
            var httpResponse = await Http.GetAsync($"{BlobApiUrl}?id={id}");
            if (httpResponse.IsSuccessStatusCode)
            {
                var blobResponse = await httpResponse.Content.ReadFromJsonAsync<BlobResponse>();
                _resume = await Http.GetFromJsonAsync<Resume>(blobResponse?.Url);
                _importGuid = id;
            }
        }

        _resume ??= await Http.GetFromJsonAsync<Resume>("data/wheeler-resume.json");
    }

    private async void UpdateResume(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        var stringFromBuffer = System.Text.Encoding.UTF8.GetString(buffer);
        _resume = JsonConvert.DeserializeObject<Resume>(stringFromBuffer);

        var httpContent = JsonContent.Create(_resume);
        var httpResponse = await Http.PutAsync(BlobApiUrl, httpContent);
        if (httpResponse.IsSuccessStatusCode)
        {
            var blobResponse = await httpResponse.Content.ReadFromJsonAsync<BlobResponse>();
            _importGuid = blobResponse?.Id;
        }

        StateHasChanged();
    }

    public class BlobResponse
    {
        public string? Id { get; set; }

        public string? DownloadUrl { get; set; }

        public string? Pathname { get; set; }

        public string? Url { get; set; }
    }

    public class Resume
    {
        private static readonly string[] KnownList =
        {
            "facebook",
            "github",
            "instagram",
            "linkedin",
            "mastodon",
            "stack-overflow",
            "substack",
            "tiktok",
            "twitch",
            "twitter",
            "x",
            "youtube"
        };

        public string? About { get; set; }

        public ResumeCertification[]? Certifications { get; set; }

        public ResumeExperience[]? Experience { get; set; }

        public ResumeGroup[]? Groups { get; set; }

        public string? Location { get; set; }

        public string Name { get; set; } = "Unknown";

        public ResumeSkillGroup[]? SkillGroups { get; set; }

        public ResumeUrl[]? Urls { get; set; }

        public ResumeUrl[] GetKnownUrls()
        {
            return Urls?.Where(i => KnownList.Contains(i.Name)).ToArray() ?? Array.Empty<ResumeUrl>();
        }

        public ResumeUrl[] GetUnknownUrls()
        {
            return Urls?.Where(i => !KnownList.Contains(i.Name)).ToArray() ?? Array.Empty<ResumeUrl>();
        }
    }

    public class ResumeCertification
    {
        public string? Expiry { get; set; }

        public string Id { get; set; } = "Unknown";

        public string Issue { get; set; } = "Unknown";

        public string Level { get; set; } = "Unknown";

        public string Link { get; set; } = "https://example.com/";

        public string Name { get; set; } = "Unknown";

        public string Vendor { get; set; } = "Unknown";
    }

    public class ResumeExperience
    {
        public string Employer { get; set; } = "Unknown";

        public string Description { get; set; } = "Unknown";

        public string Link { get; set; } = "https://example.com/";

        public string Start { get; set; } = "Unknown";

        public string Title { get; set; } = "Unknown";

        public string? Until { get; set; }
    }

    public class ResumeGroup
    {
        public string Description { get; set; } = "Unknown";

        public string Name { get; set; } = "Unknown";

        public string Link { get; set; } = "https://example.com/";
    }

    public class ResumeSkillGroup
    {
        public string? Name { get; set; }

        public string[] Skills { get; set; } = Array.Empty<string>();
    }

    public class ResumeUrl
    {
        public string Name { get; set; } = "Unknown";

        public string Link { get; set; } = "https://example.com/";
    }

}